.container{
  background-color:beige;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin: 0px;
padding: 0px;
}
.buttons{
  padding: 10px;
}
.timer{
  padding: 0px;
  margin: 0px;
  align-items: center;
  text-align: center;
  background-color: blue;
}